/* ./styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  scroll-behavior: smooth;
}

code {
  font-family: sans-serif
}

.bg-dark-primary {
  background-color: #0f1624;
}
